* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  /* width: 100%; */
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  padding: 15px 16px;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background-color: #3172b9;
  border-radius: 4px;
  cursor: pointer;
}

.text-center{
  text-align: center;
}

/*header*/

.header {
  height: 110px;
}


.logo {
  margin-right: auto;
}

.header-container{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list{
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 80px;
}


/*hero*/

.hero-container {
  padding-top: 125px;
  padding-bottom: 130px;
}


.hero-contant{
  max-width: 50%;
}

.secrion-hero-heading {
  margin-bottom: 20px;
}

.section-hero-desription {
  margin-bottom: 30px;
}

.section-btn-hero-description {
  margin-top: 10px;
}

/*do*/

.section-do{
  padding-top: 140px;
  padding-bottom: 100px;
}

.section-description{
  margin-top: 25px;
}

.section-do-list{
  display: flex;
  margin-top: 50px;
}

.section-do-item{
  flex: 1 1 25%;
}

.section-do-item:not(:last-child) {
  margin-right: 30px;
}

/*clients*/

.section-clients {
  padding-top: 90px;
  padding-bottom: 100px;
}

.section-clients-list {
  display: flex;
  /* margin-top: 40px; */
}

.section-clients-item {
  flex: 1 1 33.33%;
}

.section-clients-item:not(:last-child) {
  margin-right: 30px;
}

.section-clients-user {
  display: flex;
  align-items: center;
}

.section-clients-avatar{
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border: 2px solid #3172b9;
  border-radius: 50%;
}

/*contacts*/

.section-contacts{
  padding-top: 85px;
  padding-bottom: 95px;
}

.section-contacts-list {
  display: flex;
  margin-top: 43px;
}

.section-contacts-item {
  flex: 1 1 33.33%;
}

.section-contacts-info{
  max-width: 250px;
}

.section-contacts-icon{
  display: block;
  margin-bottom: 25px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}

.section-contacts-icon-gps {
  background-image: url('/img/gps.svg');
}

.section-contacts-icon-phone {
  background-image: url('/img/phone.svg');
}

.section-contacts-icon-mail {
  background-image: url('/img/mail.svg');
  background-size: auto 19px;
}

.section-contacts-heading{
  display: block;
  margin-bottom: 40px;
}


/*footer*/

.footer {
  height: 125px;
}

.footer-container {
  display:flex ;
  height: 100%;
  align-items: center;
}

.footer-left{
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 44px;
  margin-right: 25px;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}

.footer-right {
  margin-left: auto;
  align-items: center;
  display: flex;
}

.footer-social-list{
  display: flex;
  margin-left: 30px;
}

.footer-social-item {
  display: flex;
  align-items: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 20px;
}

.footer-social-icon{
  display: block;
  width: 26px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: auto 100%;
  background-color: transparent;
}

.footer-social-icon-twitter {
  background-image: url('/img/Twitter.svg');
}

.footer-social-icon-in {
  background-image: url('/img/Linkedin.svg');
}

.footer-social-icon-email {
  background-image: url('/img/Email.svg');
}
